body{
    background-color: #B4966E;
    color: #3E2A47;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    padding: 20px;
    background-color: #E0C7A1;
    color: #3E2A47;
}

.auth-container{
    background-color: #F4EDE4;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form{
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"]{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #3E2A47;
    border-radius: 5px;
    background-color: #F4EDE4;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus{
    outline: none;
    border-color: #6B8E23;
}

button[type="submit"]{
    background-color: #A9746E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover{
    background-color: #8B5E58;
}

.link-container{
    text-align: center;
    margin-top: 20px;
}

.link-container a{
    color: #3E2A47;
    text-decoration: none;
}

.link-container a:hover{
    text-decoration: underline;
}

.toggle-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-buttons button{
    background-color: #E0C7A1;
    color: #3E2A47;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
}

.toggle-buttons button.active{
    background-color: #F4EDE4;
    font-weight: bold;
}

.form-container{
    display: none;
}

.form-container.active{
    display: block;
}