body{
    background-color: #B4966E;
    color: #3E2A47;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    padding: 20px;
    background-color: #E0C7A1;
    color: #3E2A47;
}

.survey-container{
    background-color: #F4EDE4;
    padding: 20px;
    border-radius:10px;
    max-width: 750px;
    margin: 30px auto 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

select{
    padding:10px;
    font-size: 16px;
    background-color: #F4EDE4;
    border: 1px solid #3E2A47;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px; /* Add space between the dropdown and the question */
}

select:focus{
    outline: none;
    border-color: #6B8E23;
}

input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
    accent-color: #6B8E23;
}

input[type="radio"]{
    margin-right: 10px;
    vertical-align: middle;
}

.answer-option{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; /* Adjust the gap between options for closer spacing */
}

.ans-options{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
}

.an-op{
    display:flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
}

.an-op .answer-option{
    display: flex;
    align-items: center;
    gap: 5px;
}

.a-option{
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust the gap between options for closer spacing */
}

.a-option label{
    white-space: nowrap;
    margin: 0;
}

/*Chat and I are flipped...*/
.answer-options{
    display: flex;
    align-items: center; /* Vertically align checkbox and label */
}

.answer-option label{
    white-space: nowrap;
}

.question{
    margin-top: 20px;
    margin-bottom: 15px;
}

.question label{
    font-weight: bold;
}

.answer{
    display: flex;
    gap: 20px;
}

.a{
    display: flex;
    align-items: center;
    gap: 15px;
}

.answer-option input[type="radio"]{
    margin-right: 5px;
}

.a-option input[type="radio"]{
    margin-right: 5px;
}

.answer-options input[type="checkbox"]{
    accent-color: #6B8E23;
    cursor: pointer;
    margin-right: 8px; /* Adjust space between checkbox and label */
}

.answer-options input[type="checkbox"]:hover{
    background-color: #F4EDE4;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button[type="submit"] {
    background-color: #A9746E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 75%;
}

button[type="submit"]:hover {
    background-color: #8B5E58;
}
