<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommendation System</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Book Recommendation System</h1>
    </header>

    <div class="survey-container">
        <form action="/submit" method="POST">
            <div class="question">
                <label>What genre do you prefer?</label><br>
                <div class="answers">
                    <div class="answer-option">
                        <input type="radio" id="fiction" name="genre" value="Fiction">
                        <label for="fiction">Fiction</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="fable" name="genre" value="Fable">
                        <label for="fable">Fable</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="drama" name="genre" value="Drama">
                        <label for="drama">Drama</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="fairy-tale" name="genre" value="Fairy Tale">
                        <label for="fairy-tale">Fairy Tale</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="fantasy" name="genre" value="Fantasy">
                        <label for="fantasy">Fantasy</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="fiction-in-verse" name="genre" value="Fiction In Verse">
                        <label for="fiction-in-verse">Fiction In Verse</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="folklore" name="genre" value="Folklore">
                        <label for="folklore">Folklore</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="historical-fiction" name="genre" value="Historical Fiction">
                        <label for="historical-fiction">Historical Fiction</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="Horror" name="genre" value="Horror">
                        <label for="Horror">Horror</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="Humor" name="genre" value="Humor">
                        <label for="Humor">Humor</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="Legend" name="genre" value="Legend">
                        <label for="Legend">Legend</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="Mystery" name="genre" value="Mystery">
                        <label for="Mystery">Mystery</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="Mythology" name="genre" value="Mythology">
                        <label for="Mythology">Mythology</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="Poetry" name="genre" value="Poetry">
                        <label for="Poetry">Poetry</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="realistic-fiction" name="genre" value="Realistic-Fiction">
                        <label for="realistic-fiction">Realistic Fiction</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="science-fiction" name="genre" value="Science Fiction">
                        <label for="science-fiction">Science Fiction</label><br></div>
                    <div class="answer-option">
                        <input type="radio" id="short-story" name="genre" value="Short Story">
                        <label for="short-story">Short Story</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="tall-tale" name="genre" value="Tall Tale">
                        <label for="tall-tale">Tall Tale</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="biography/autobiography" name="genre" value="Biography/Autobiography">
                        <label for="biography/autobiography">Biography/Autobiography</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="essay" name="genre" value="Essay">
                        <label for="essay">Essay</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="Narrative-Nonfiction" name="genre" value="Narrative Nonfiction">
                        <label for="Narrative-Nonfiction">Narrative Nonfiction</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="nonfiction" name="genre" value="Nonfiction">
                        <label for="nonfiction">Nonfiction</label><br>
                    </div>
                    <div class="answer-option">
                        <input type="radio" id="speech" name="genre" value="Speech">
                        <label for="speech">Speech</label><br>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>